# ESP32-S3 N16R8 Configuration

# Target
CONFIG_IDF_TARGET="esp32s3"

# Flash size (16MB)
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="16MB"

# PSRAM (8MB Octal)
CONFIG_SPIRAM_MODE_OCT=y
