# ESP32-S3 target defaults - default to ESP32-S3 Generic board
CONFIG_BOARD_ESP32S3_GENERIC=y
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="16MB"
CONFIG_SPIRAM_MODE_OCT=y

# GPIO defaults
CONFIG_BAT_CHANNEL=7
CONFIG_LED_RGB_GPIO=48
CONFIG_I2S_BCK_IO=11
CONFIG_I2S_WS_IO=13
CONFIG_I2S_DO_IO=12
CONFIG_I2S_GND_IO=14