# Louder-ESP32-S3-mini defaults (ESP32-S3, TAS5805M)
CONFIG_BOARD_LOUDER_ESP32_S3=y
CONFIG_ESPTOOLPY_FLASHSIZE_8MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="8MB"
CONFIG_SPIRAM_MODE_OCT=y

CONFIG_DAC_TAS58XX=y
CONFIG_DAC_CONTROLS_VOLUME=y

# GPIO config
CONFIG_I2S_SCK_IO=-1
CONFIG_I2S_BCK_IO=14
CONFIG_I2S_WS_IO=15
CONFIG_I2S_DO_IO=16
CONFIG_DAC_I2C_SDA=8
CONFIG_DAC_I2C_SCL=9
CONFIG_DAC_PDN_GPIO=17
